.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #00296b;
  min-height: 100px;
  padding: 0 1em;
  flex-wrap: nowrap;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav h1 {
  color: white;
  font-weight: bolder;
  font-size: 30px;
  margin: 0;
  flex-shrink: 0;
}

.nav-links {
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

.nav a {
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  font-size: medium;
  transition: all 0.3s ease;
}

.nav a.orange {
  background-color: #fdc500;
  color: black;
}

.nav-actions {
  display: flex;
  align-items: center;
  gap: 1em;
  flex-shrink: 0;
}

.material-symbols-outlined {
  margin-left: 15px;
  cursor: pointer;
  color: white;
  font-size: 1.8rem;
}

/* Hamburger hidden on desktop */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
}

.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: white;
  border-radius: 2px;
  transition: 0.3s;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .nav {
    flex-wrap: nowrap;
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
    background-color: #00296b;
    position: absolute;
    top: 100px; /* height of navbar */
    left: 0;
    padding-top: 1em;
    z-index: 9999;
    box-sizing: border-box;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.1s ease-in, opacity 0.4s ease-out;
  }

  .nav-links.active {
    max-height: 500px; 
    opacity: 1;
  }

  .nav a {
    width: 100%;
    padding: 0.75rem 1rem;
    margin-left: 30px;

  }

  .hamburger {
    display: flex;
  }

  .nav-actions {
    margin-left: auto;
  }
}
